<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Week 9 - Lab 1</h1>
</div>

# Exercise 1

Follow the instruction given and install the Pandas Library in VS Code. After installation, input a picture to document that you have successfully installed the Pandas Library.

https://pypi.org/project/pandas/

In a New Terminal: Should be pypi:
    
    pip install pandas 

If you have the latest version of python:

    pip3 install pandas 

Once you have the library create a simple dataframe of your choosing. Show your code.

Screen Shot 2021-11-08 at 8.24.43 PM

In [2]:
import pandas as pd

#initialize list of lists
data = [['David', 10], ['Solomon', 5], ['Abraham', 3]]

#creating DataFrame
df = pd.DataFrame(data, columns= ['Name', 'Age'])

df

      Name  Age
0    David   10
1  Solomon    5
2  Abraham    3

# Exercise 2

Create a data frame using pandas that uses a conditional statement other than if ascending = false.

In [6]:
import pandas as pd

numbers = {'whole_numbers': [0, 1, 2, 4, 5, 6, 7, 8, 9, 10]}

df = pd.DataFrame(numbers, columns=['whole_numbers'])

# DataFrame.loc ccess a group of rows and columns by label(s) or a boolean array.

df.loc[df['whole_numbers'] <= 5, 'Numbers_Below_5'] = True 
df.loc[df['whole_numbers'] > 5, 'Numbers_Below_5']= False 

print(df)

   whole_numbers Numbers_Below_5
0              0            True
1              1            True
2              2            True
3              4            True
4              5            True
5              6           False
6              7           False
7              8           False
8              9           False
9             10           False

# Exercise 3

Create a Data Frame using pandas with Names and Age and change the datatype of age from int to str.

In [8]:
import pandas as pd

#initialize list of lists
data = [['David', 10], ['Solomon', 5], ['Abraham', 3]]

#creating DataFrame
df = pd.DataFrame(data, columns= ['Name', 'Age'])

df.astype(str).dtypes

Name    object
Age     object
dtype: object

# Exercise 4

Write a data frame using pandas that contains a dictionary of column1 of 5 strings of letters, a column2 of 5 integers, another column3 of 5 integers and a column4 of 5 strings of letters with lower and upper cases.

In [10]:
import pandas as pd

d = {"Column 1": ['h', 'e', 'l', 'l', 'o'], "Column 2 ": [10, 20, 30, 40, 50], "Column 3": [15, 25, 35, 45, 55], "Column 4 ": ['D', 'a', 't', 'a', 'S']} 
df = pd.DataFrame(data=d)

df

  Column 1  Column 2   Column 3 Column 4
0        a         10        15         D
1        b         20        25         a
2        c         30        35         t
3        d         40        45         a
4        e         50        55         S

# Bonus Question

Write a Pandas program that contains data of a student for each column (you can create as many as you think are necessary). Make sure to display the default index and set a column as an Index in the dataframe. Output only one of the columns of your choice and change its datatype.

In [21]:
d = {"Student Name": ['David', 'Solomon', 'Abel', 'Samson', 'Martha'], "Age": [7, 9, 6, 8, 12], "Grade Level": ['2nd', '4th', '1st', '3rd', '6th']} 
df = pd.DataFrame(data=d)

print(df['Age'])

print(df.iloc[3, 1])

df = pd.DataFrame(d, columns= ['Age'])

df.astype(str).dtypes

# df

0     7
1     9
2     6
3     8
4    12
Name: Age, dtype: int64
8

Age    object
dtype: object